
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="~/style.css" />
</head>
<body>
    <section class="header-top">
        <p>InstaFIT</p>
    </section>

    <div>
        @RenderBody()
    </div>

    <section class="footer-bottom">
        <div class="social">
            <a asp-page="/Index"><i class="material-icons">home</i></a>
            <a href=""><i class="material-icons">search</i></a>
            <a asp-page="/FitnessPosts/Manage" ><i class="material-icons">add_box</i></a>
            <a href=""><i class="material-icons">favorite_border</i></a>
            <a href=""><i class="material-icons">account_circle</i></a>

        </div>
    </section>
</body>
</html>
