@page "{id?}"
@model InstaFit.Pages.FitnessPosts.ManageModel
@{
    ViewData["Title"] = "Manage";
    Layout = "_Layout";

}


<form method="post" enctype="multipart/form-data">

    <div class="instagram-wrap">
        <div class="card">
            <div class="card-header">
                <div class="profile-img"></div>
                <div class="profile-info">
                    <div class="name">Username</div>
                    <div class="location">
                        <label asp-for="FitnessPost.Location"></label>
                        <input asp-for="FitnessPost.Location" />
                    </div>
                </div>
                <div class="time">
                    1hr
                </div>
                <div class="content">
                    <label asp-for="Image"></label>
                    <input asp-for="Image" type="file" />
                </div>
                <div class="card-footer">
                    <div class="likes">
                        45 likes
                    </div>
                    <div class="description">
                        <p>
                            <label asp-for="FitnessPost.Description"></label>
                            <textarea rows="5" asp-for="FitnessPost.Description"></textarea>
                        </p>
                    </div>
                    <div class="comments">
                        <p>
                            <span class="username">Danny32: </span>What was your workout!!??
                        </p>
                        <p>
                            <span class="username">BigRig722: </span> I love the Form!!
                        </p>
                    </div>
                    <div class="form">
                        <button type="submit">SAVE</button>
                        <button type="submit" asp-page-handler="Delete">DELETE</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>



