body {
    background-image: url('brick2.jpg');
    background-size: contain;
    
}

.footer-bottom {
    background: grey;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;   
}
.footer-bottom a {
    box-sizing:border-box;
    width: 25%;
    display: inline-block;
    margin-left: -4px;
    text-align:center;
    padding: 1vw;
    border-top: 1px solid black;
}
.social a{
    color:black;
    font-size: 25px;

}
.social a:hover{
    color:red;

}
.header-top {
    background: grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vw;
    border-bottom:1px solid black;
    z-index:50;
}

    .header-top p {
        font-family: 'Kaushan Script', cursive;
        font-size:3vw;
    }

    .instagram-wrap{
        
        padding-top: 5vw;
        height: 100%;
        position: absolute;
        width: 100%;
        top:50px;
        bottom:0;
        


    }
    .card{       
        background:blue;
        margin: 0 auto;
        width:500px;
        height: 500px;
        border: 1px solid black;
        border-radius: 3px;
    }
       
    

